.table {
  display: block;
  border-collapse: collapse;
  white-space: nowrap;

  thead,
  tbody {
    display: block;
    overflow-x: auto;
  }

  thead {
    position: sticky;
    top: 0;

    tr {
      display: flex;
    }
  }

  thead::-webkit-scrollbar {
    display: none;
  }

  th {
    flex-grow: 1;
    text-align: left;
    color: #fff;
    background-color: #333;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #eee;
  }
}
